# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\anilz\workdir\cpp-course\23-overloading-stream-insertion-extraction\.idea/dataSources/
/dataSources.local.xml
