# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\anilz\workdir\cpp-course\25-protected-members\.idea/dataSources/
/dataSources.local.xml
