# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\anilz\workdir\cpp-course\14-shallow-copy-problem\.idea/dataSources/
/dataSources.local.xml
