# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\anilz\workdir\cpp-course\26-inheritance-constructor-destructor\.idea/dataSources/
/dataSources.local.xml
