# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\anilz\workdir\cpp-course\10-constructor-destructors\.idea/dataSources/
/dataSources.local.xml
